{% extends "base.html" %}

{% block title %}Главная | ToyCatStore{% endblock %}

{% block header_title %}
    <h1 class="display-4">ToyCatStore</h1>
{% endblock %}

{% block header_lead %}
    <p class="lead">- это идеальная возможность подарить эмоции вашим близким, </p>
    <p class="lead"> удивить их игрушечными котиками под любой вкус и цвет.</p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container mt-5">
    <h3 class="text-center mb-4">Новинки магазина</h3>
    <div class="row">
        {% for product in latest_products %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-truncate" style="flex-grow: 1;">{{ product.text }}</p>
                    <div class="mt-auto pt-3 border-top">
                        <div class="h5 mb-0">{{ product.price }} ₽</div>
                        <small class="text-muted">Добавлен: {{ product.created_at }}</small>
                    </div>
                    <a href="{% url 'catalog:product-detail' product.id %}" class="btn btn-lg m-3 btn-block btn-outline-primary">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center w-100">Товаров пока нет.</p>
        {% endfor %}
    </div>
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Рандом-бокс</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"> 240 $</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Случайная игрушка</li>
                        <li>- Сюрприз</li>
                        <li>- Идеальный подарок</li>
                        <li>- Скидка на следющий заказ 10%</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}